// colors

$gray: #f6f6f8;
$primary: #f55d22;
$primaryHover: rgb(203, 62, 7);
$link: #4088FC;
$black: #1a1a1a;
$br: 16px;
/* #e3774c; */


// media sizes

$notebook: 1280px;
$tablet: 1024px;
$bigMobile: 768px;
$smallMobile: 520px;
$verySmallMobile: 428px;

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   main {
      flex: 1 1 auto;
   }
}


.container {
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   text-align: center;
   font-size: 45px;
   margin: 25px 0px 45px 0px;
   color: $black;
   letter-spacing: 1px;
   transition: font-size 0.3s;

   @media screen and (max-width: $notebook) {
      font-size: 40px;
   }

   @media screen and (max-width: $tablet) {
      font-size: 35px;
   }

   @media screen and (max-width: $bigMobile) {
      font-size: 30px;
   }

   @media screen and (max-width: $smallMobile) {
      font-size: 25px;
   }

   @media screen and (max-width: $verySmallMobile) {
      font-size: 20px;
   }
}

.fancybox__container {
   z-index: 10000000;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
   border-color: $primary !important;
   border-width: 2px !important;
}